.stepIndicatorGM {
  display: grid;
  width: 86%;
  margin: 0 auto;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  padding-left: 16rem;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 20rem;
}
.stepIndicatorAutos {
  display: grid;
  width: 86%;
  margin: 0 auto;
  grid-template-columns: 25% 25% 25% 25%;
  padding-left: 30rem;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 20rem;
}

@media screen and (max-width: 600px) {
  .stepIndicatorGM {
    width: 94%;
    padding-left: 3rem;
  }
  .stepIndicatorAutos {
    width: 90%;
    padding-left: 8rem;
  }
}
