.containerStep5GM {
  width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
}
.gridStep5GM {
  display: grid;
  grid-template-columns: 66% 34%;
  border: 2px solid var(--primary-color3);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.gridStep5GM__text {
  display: flex;
  height: 100%;
  min-height: 12rem;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem;
  background-color: var(--primary-color3);
  font-size: 2rem;
  font-weight: 400;
}
.gridStep5GM__text_aplica{
  font-size: 1.6rem;
  font-style: italic;
  color: var(--text-color2);
}
.titleStep5GM {
  display: grid;
  grid-template-columns: 66% 34%;
  margin-bottom: 1rem;
  justify-items: center;
}
.containerStep5GM h5 {
  font-size: 2.6rem;
  font-style: italic;
}

.adicionalCobertura {
  width: 80%;
  margin: 0 auto;
  padding-top: 10rem;
}
.adicionalCobertura__title {
  text-align: start;
  line-height: 3rem;
  margin-bottom: 2rem;
  font-style: italic;
}
.adicionalCobertura__title span {
  font-size: 1.8rem;
  font-weight: 400;
}
.adicionalCobertura__textarea {
  width: 66%;
  height: 16rem;
  background-color: var(--primary-color3);
  border-radius: 0.8rem;
  border: 2px solid var(--primary-color3);
  resize: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 1rem 1.6rem;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  .containerStep5GM {
    width: 90%;
  }
  .gridStep5GM {
    grid-template-columns: 62% 38%;
  }
  .titleStep5GM {
    grid-template-columns: 62% 38%;
  }
  .adicionalCobertura__textarea {
    width: 100%;
  }
}
